<a href="https://colab.research.google.com/github/Deepsphere-AI/DataAnalyticsTraining/blob/main/Python/Unit-3/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1 - Pandas
# What is Pandas?
#  Pandas is a Python library used for working with data sets.
#  It has functions for analyzing, cleaning, exploring, and manipulating data.
#  The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
#   Pandas gives you answers about the data. Like:
#       Correlation between two or more columns
#       Average value
#       Max value
#       Min value
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas
mydataset = {  ## What data structure is this?
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar_PDF = pandas.DataFrame(mydataset)
#print(myvar_PDF)

import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar_PDF = pd.DataFrame(mydataset)
print(myvar_PDF)
#print(pd.__version__) #print(pd.__version__)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.1 - Create an Empty DataFrame
#
#~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.2 - Create with a List and Columns Value
#
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
#df = pd.DataFrame(data) # No Names Given to the Column
df = pd.DataFrame(data,columns=['Customer Name','Customer Age'])
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.3 - Create with a List and Columns Value and Data Type
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float) # There will be a Type Cost Error , Why?
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.4 - Create a DataFrame from Dict of ndarrays / Lists
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]} # What will happend it the List element's doesn't match
df = pd.DataFrame(data)
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.5 - create an indexed DataFrame using arrays.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
#df = pd.DataFrame(data, index=['Row #1 ','Row #2 ','Row #3 ','Row #4 ']) # Indexed Data Frame
df = pd.DataFrame(data)
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.6 - Create a DataFrame from List of Dicts
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'a': 1, 'b': 2, 'c': 3},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.6 - NaN (Not a Number) is appended in missing areas.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'KEY1': 1, 'KEY2': 2},{'KEY1': 5, 'KEY2': 10, 'KEY3': 20}]
df = pd.DataFrame(data, index=['first-Row', 'second-Row'])
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - create a DataFrame with a list of dictionaries, row indices, and column indices.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'KEY1': 1, 'KEY2': 2},{'KEY1': 5, 'KEY2': 10, 'KEY3': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first-Row', 'second-Row'], columns=['KEY1', 'KEY2','KEY3'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first=Row', 'second-Row'], columns=['KEY1', 'KEY4']) # There is no such KEY4

#print(df1)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(df2)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - Create a DataFrame from Dict of Series
##~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd

d = {'STOCK-INDEX-KEY-1' : pd.Series([1, 2, 3], index=['INDEX-1', 'INDEX-2', 'INDEX-3']),
     'STOCK-INDEX-KEY-2' : pd.Series([1, 2, 3, 4], index=['INDEX-1', 'INDEX-2', 'INDEX-3', 'INDEX-4'])}

df = pd.DataFrame(d)
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - Column Selection
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

d = {'KEY-1' : pd.Series([1, 2, 3], index=['ROW1', 'ROW2', 'ROW3']),
   'KEY-2' : pd.Series([1111, 2222, 3333, 4444], index=['ROW1', 'ROW2', 'ROW3', 'ROW4'])}

df = pd.DataFrame(d)
#print(df ['COLUMN-ONE'])
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`')
print(df ['KEY-2']) #

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
ROW1    1111
ROW2    2222
ROW3    3333
ROW4    4444
Name: KEY-2, dtype: int64

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 2 - Series?
# A Pandas Series is like a column in a table.
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
a = [1111, 77777, 22222,44444,55555]
pds = pd.Series(a)
print(pds)
#print(myvar[0]) #Return the first value of the Series:

0     1111
1    77777
2    22222
3    44444
4    55555
dtype: int64

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 3 - Create Labels
# Create your own labels:
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
a = [11111, 7777, 22222, 44444,55555]
myvar = pd.Series(a, index = ["Index 1", "Index 2", "Index 3","Index 4","Index 5"])
print(myvar)
print('+===================+')
print(myvar["Index 1"])

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 4 - Key/Value Objects as Series
# Key/Value Objects as Series
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
calories = {"day1": 4244444, "day2": 385555, "day3": 396666} #Create a simple Pandas Series from a dictionary:
myvar = pd.Series(calories) # I want to access all Index - That's why I did specifiy the Index
#print(myvar)

myvar = pd.Series(calories, index = ["day1", "day1", "day1", "day4"])
print(myvar)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 5 - Create a DataFrame from two Series:
# Create a DataFrame from two Series:
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 6 - Locate Row
# Locate Row
# 01/02/2024
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
#print(df)
#print(df.loc[0]) #refer to the row index: Return row 0:
print(df.loc[[0, 1]]) #Return row 0 and 1:

   calories  duration
0       420        50
1       380        40

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7 - Pandas Read CSV
# Pandas Read CSV
# Set Max Rows
#~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd
df = pd.read_csv('/content/UNIT3PANDASdataFile.csv')
#print(df.to_string()) #use to_string() to print the entire DataFrame.

print(pd.options.display.max_rows)  # What is the dault max value (max rows) of a data frame
                 ### ~~~~ You can check your system's maximum rows with the pd.options.display.max_rows statement.
pd.options.display.max_rows = 300
print(pd.options.display.max_rows)
print(df)
print(df.to_string())

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.1 - Reading CSV Files with csv lib
# Reading CSV Files with csv lib
#~~~~~~~~~~~~~~~~~~~~~~~~

import csv
with open('/content/UNIT3LVADSAIEMPDATAv1.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL', 'PHONE_NUMBER', 'HIRE_DATE', 'JOB_ID', 'SALARY', 'COMMISSION_PCT', 'MANAGER_ID', 'DEPARTMENT_ID']
['198', 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', '21-Jun-07', 'SH_CLERK', '2600', ' - ', '124', '50']
['199', 'Douglas', 'Grant', 'DGRANT', '650.507.9844', '13-Jan-08', 'SH_CLERK', '2600', ' - ', '124', '50']
['200', 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', '17-Sep-03', 'AD_ASST', '4400', ' - ', '101', '10']
['201', 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', '17-Feb-04', 'MK_MAN', '13000', ' - ', '100', '20']
['202', 'Pat', 'Fay', 'PFAY', '603.123.6666', '17-Aug-05', 'MK_REP', '6000', ' - ', '201', '20']
['203', 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', '7-Jun-02', 'HR_REP', '6500', ' - ', '101', '40']
['204', 'Hermann', 'Baer', 'HBAER', '515.123.8888', '7-Jun-02', 'PR_REP', '10000', ' - ', '101', '70']
['205', 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', '7-Jun-02', 'AC_MGR', '12008', ' - ', '101', '110']
['206', 'William', 'Gietz', 'WGIETZ', '515.123.8181', '7-Jun-02', 'AC_ACCOUNT', '8300', ' - ', '205', '110']
['100', 'Steven', 'King', 'SKING', '515.123.4567', '17-Jun-03', 'AD_PRES', '24000', ' - ', ' - ', '90']
['101', 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '21-Sep-05', 'AD_VP', '17000', ' - ', '100', '90']
['102', 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '13-Jan-01', 'AD_VP', '17000', ' - ', '100', '90']
['103', 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', '3-Jan-06', 'IT_PROG', '9000', ' - ', '102', '60']
['104', 'Bruce', 'Ernst', 'BERNST', '590.423.4568', '21-May-07', 'IT_PROG', '6000', ' - ', '103', '60']
['105', 'David', 'Austin', 'DAUSTIN', '590.423.4569', '25-Jun-05', 'IT_PROG', '4800', ' - ', '103', '60']
['106', 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', '5-Feb-06', 'IT_PROG', '4800', ' - ', '103', '60']
['107', 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', '7-Feb-07', 'IT_PROG', '4200', ' - ', '103', '60']
['108', 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', '17-Aug-02', 'FI_MGR', '12008', ' - ', '101', '100']
['109', 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', '16-Aug-02', 'FI_ACCOUNT', '9000', ' - ', '108', '100']
['110', 'John', 'Chen', 'JCHEN', '515.124.4269', '28-Sep-05', 'FI_ACCOUNT', '8200', ' - ', '108', '100']
['111', 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', '30-Sep-05', 'FI_ACCOUNT', '7700', ' - ', '108', '100']
['112', 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', '7-Mar-06', 'FI_ACCOUNT', '7800', ' - ', '108', '100']
['113', 'Luis', 'Popp', 'LPOPP', '515.124.4567', '7-Dec-07', 'FI_ACCOUNT', '6900', ' - ', '108', '100']
['114', 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', '7-Dec-02', 'PU_MAN', '11000', ' - ', '100', '30']
['115', 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', '18-May-03', 'PU_CLERK', '3100', ' - ', '114', '30']
['116', 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', '24-Dec-05', 'PU_CLERK', '2900', ' - ', '114', '30']
['117', 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', '24-Jul-05', 'PU_CLERK', '2800', ' - ', '114', '30']
['118', 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', '15-Nov-06', 'PU_CLERK', '2600', ' - ', '114', '30']
['119', 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', '10-Aug-07', 'PU_CLERK', '2500', ' - ', '114', '30']
['120', 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', '18-Jul-04', 'ST_MAN', '8000', ' - ', '100', '50']
['121', 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', '10-Apr-05', 'ST_MAN', '8200', ' - ', '100', '50']
['122', 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', '1-May-03', 'ST_MAN', '7900', ' - ', '100', '50']
['123', 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', '10-Oct-05', 'ST_MAN', '6500', ' - ', '100', '50']
['124', 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', '16-Nov-07', 'ST_MAN', '5800', ' - ', '100', '50']
['125', 'Julia', 'Nayer', 'JNAYER', '650.124.1214', '16-Jul-05', 'ST_CLERK', '3200', ' - ', '120', '50']
['126', 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', '28-Sep-06', 'ST_CLERK', '2700', ' - ', '120', '50']
['127', 'James', 'Landry', 'JLANDRY', '650.124.1334', '14-Jan-07', 'ST_CLERK', '2400', ' - ', '120', '50']
['128', 'Steven', 'Markle', 'SMARKLE', '650.124.1434', '8-Mar-08', 'ST_CLERK', '2200', ' - ', '120', '50']
['129', 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', '20-Aug-05', 'ST_CLERK', '3300', ' - ', '121', '50']
['130', 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', '30-Oct-05', 'ST_CLERK', '2800', ' - ', '121', '50']
['131', 'James', 'Marlow', 'JAMRLOW', '650.124.7234', '16-Feb-05', 'ST_CLERK', '2500', ' - ', '121', '50']
['132', 'TJ', 'Olson', 'TJOLSON', '650.124.8234', '10-Apr-07', 'ST_CLERK', '2100', ' - ', '121', '50']
['133', 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', '14-Jun-04', 'ST_CLERK', '3300', ' - ', '122', '50']
['134', 'Michael', 'Rogers', 'MROGERS', '650.127.1834', '26-Aug-06', 'ST_CLERK', '2900', ' - ', '122', '50']
['135', 'Ki', 'Gee', 'KGEE', '650.127.1734', '12-Dec-07', 'ST_CLERK', '2400', ' - ', '122', '50']
['136', 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', '6-Feb-08', 'ST_CLERK', '2200', ' - ', '122', '50']
['137', 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', '14-Jul-03', 'ST_CLERK', '3600', ' - ', '123', '50']
['138', 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', '26-Oct-05', 'ST_CLERK', '3200', ' - ', '123', '50']
['139', 'John', 'Seo', 'JSEO', '650.121.2019', '12-Feb-06', 'ST_CLERK', '2700', ' - ', '123', '50']
['140', 'Joshua', 'Patel', 'JPATEL', '650.121.1834', '6-Apr-06', 'ST_CLERK', '2500', ' - ', '123', '50']
['', '', '', '', '', '', '', '', '', '', '']

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.2 - Leveraging "numpy" for Reading CSV Files
# Leveraging numpy for Reading CSV Files
#~~~~~~~~~~~~~~~~~~~~~~~~

import numpy as np
data = np.genfromtxt('/content/UNIT3LVADSAIEMPSALv1.csv', delimiter=',')
print(data)
## Question - Why is the data displayed in format different than the csv.reader

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.3 - Handling Missing Values
# Handling Missing Values
# Missing data can be a common issue when reading CSV files.
# By default, pandas recognizes certain values like ‘NA’ or ‘NULL’ as missing data.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/UNIT3LVADSAIEMPSALv1.csv', na_values=['NA', 'NULL', 'Missing'])
print(df)
## How to replace the defult "NaN" value to someting busienss focused values like (0000)

   EID      ESAL  ECOMM
0  101  100000.0  10000
1  102  200000.0  20000
2  103  300000.0  30000
3  104  400000.0  40000
4  105  500000.0  50000
5  106       NaN  60000
6  107       NaN  70000
7  108       NaN  80000
8  109       NaN  90000

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.4 - Dealing with Incorrect Data Types
# Dealing with Incorrect Data Types
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/UNIT3LVADSAIEMPSALv1.csv', dtype={'COL1': int, 'COL2': float,'ECOMM': float})
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.5 - Utilizing header Parameter
# Utilizing header Parameter
# In this case, the first row (0th index) of the CSV file is used as the column names of the DataFrame.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/UNIT3LVADSAIEMPSALv1.csv', header=2)
print(df)

   102    200000  20000
0  103  300000.0  30000
1  104  400000.0  40000
2  105  500000.0  50000
3  106       NaN  60000
4  107       NaN  70000
5  108       NaN  80000
6  109       NaN  90000

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.6 - usecols Parameter
# only ‘EID’ and ‘ESAL’ from the CSV file are read into the DataFrame.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

df = pd.read_csv('/content/UNIT3LVADSAIEMPDATAv1.csv', usecols=['EMPLOYEE_ID', 'HIRE_DATE'])
#df = pd.read_csv('/content/UNIT3LVADSAIEMPDATAv1.csv')
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.7 - index_col Parameter
# ‘Column1’ from the CSV file is used as the index of the DataFrame
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

df = pd.read_csv('/content/UNIT3LVADSAIEMPSALv1.csv', index_col='EID')
#df = pd.read_csv('/content/UNIT3LVADSAIEMPSALv1.csv')
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 8 - Exercise
# Pandas Read CSV
#~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# [[1]] - Instead of selecting all columns in the file, select only certain columns
# [[2]] - In the case of NULL values, set the columns to a default value
# [[3]] - Add +/- to two columns (ex: order amount - order discount)
# [[4]] - Change the display order according to business requirements instead of displaying as it is in the file
# [[5]] - Display only the columns with string values
# [[6]] - Display only employees belonging to department 100 in an employee CSV file using a Python data frame
# [[7] - Using a Python data frame, calculate employee total compensation as an added column (the column does not exist in the employee data CSV file).
#        Salary plus commission equals total compensation.
#
##~~~~~~~~~~~~~~~~~~~~~~~~~
##~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 9 - Pandas Read JSON
# JSON = JSON stands for JavaScript Object Notation
# JSON is an open standard file format and data interchange format that uses human-readable text to store and
#     transmit data objects consisting of attribute–value pairs and arrays.
#     It is a common data format with diverse uses in electronic data interchange, including that of web applications with servers
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 10 - Pandas Read JSON
# Pandas Read JSON
#~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_json('/content/UNIT3LVADSAI-WEBUSER.json')
print(df.to_string())

                    user_id              email            name given_name family_name nickname        last_ip  logins_count                       created_at                       updated_at                last_login  email_verified
0  583c3ac3f38e84297c002546      test@test.com   test@test.com      Hello        Test     test  94.121.163.63          15.0 2016-11-28 14:10:11.338000+00:00 2016-12-02 01:17:29.310000+00:00  2016-12-02T01:17:29.310Z            True
1  583c5484cb79a5fe593425a9     test1@test.com  test1@test.com     Hello1       Test1    test1  94.121.168.53           1.0 2016-11-28 16:00:04.209000+00:00 2016-11-28 16:00:47.203000+00:00  2016-11-28T16:00:47.203Z            True
2  583c57672c7686377d2f66c9        aaa@aaa.com     aaa@aaa.com       John       Dough      aaa  94.121.168.53           2.0 2016-11-28 16:12:23.777000+00:00 2016-11-28 16:12:52.353000+00:00  2016-11-28T16:12:52.353Z            True
3  5840b954da0529cd293d76fe            a@a.com         a@a.com       Jane       Dough        a  94.121.163.63           3.0 2016-12-01 23:59:16.473000+00:00 2016-12-01 23:59:53.474000+00:00  2016-12-01T23:59:53.474Z            True
4  584a9d13e808bcf75f05f580  test9999@test.com             NaN      Dummy        User      NaN            NaN           NaN 2016-12-09 12:01:23.787000+00:00 2016-12-09 12:01:23.787000+00:00                       NaN           False